
  .header {
    padding: 0.2rem 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    .left{
    width:33.33vw;
    }
    .headerTitle{
      width:33.33vw;
      color: #F06292;
      font-size: 2em;
      display:flex;
      justify-content: center;
    }
    .right{
        display:flex;
        width:33.33vw;
        justify-content: flex-end;
    }
      .dropdown{
          padding-right: 1rem;
          
      }